# **This is part of a Kaggle Competition**

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
train_path = "./train.csv"
test_path = "./test.csv"

In [3]:
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [4]:
train_df.head(5)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [5]:
test_df.head(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes

# Creating the plot
limit_df = train_df
#limit_df = train_df[train_df['price'] < 200000]
fig = px.scatter(limit_df, x='model_year', y='price', color='brand', title='Price by Model Year and Brand', hover_data='model', trendline='ols')

fig.show()

# Beispiel-Datenframe für Autos unter 200000 Euro (filter nach Preis)
#limit_df = train_df[train_df['price'] < 200000]

# Erstellen eines Histogramms, gestapelt nach 'brand', für die Anzahl der Werte pro Jahr
fig = px.histogram(limit_df, x='price', color='brand', barmode='stack', 
                   title='Anzahl der Fahrzeuge pro Modelljahr, gestapelt nach Marke')

# Layout anpassen
fig.update_layout(xaxis_title='Preis', yaxis_title='Anzahl der Preise')

fig.show()

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

___

## **Cleaning the data**

In [7]:
train_df["brand"] = pd.Categorical(train_df["brand"])
train_df["model"] = pd.Categorical(train_df["model"])
train_df["fuel_type"] = pd.Categorical(train_df["fuel_type"])
train_df["transmission"] = pd.Categorical(train_df["transmission"])
train_df["ext_col"] = pd.Categorical(train_df["ext_col"])
train_df["int_col"] = pd.Categorical(train_df["int_col"])
train_df["accident"] = pd.Categorical(train_df["accident"])
train_df['clean_title'] = train_df['clean_title'].fillna(False).replace('Yes', True).infer_objects(copy=False).astype(bool)

C:\Users\jovid\AppData\Local\Temp\ipykernel_6188\2234924442.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df['clean_title'] = train_df['clean_title'].fillna(False).replace('Yes', True).infer_objects(copy=False).astype(bool)

In [8]:
import re
import pandas as pd

# Beispiel einer Funktion zum Extrahieren von Motor-Informationen
def extract_engine_features(engine_str):
    # Extrahiere die PS (Horsepower)
    hp = re.search(r'(\d+\.?\d*)HP', engine_str)
    # Extrahiere den Hubraum (Liters)
    liter = re.search(r'(\d+\.?\d*)L', engine_str)
    # Extrahiere die Zylinderzahl
    cylinders = re.search(r'(\d+) Cylinder', engine_str)
    # Extrahiere den Kraftstofftyp (z.B. Gasoline, Diesel)
    fuel_type = re.search(r'(Gasoline|Diesel|Hybrid|Flex Fuel)', engine_str)
    
    # Füge die gefundenen Werte in einer Serie zurück
    return pd.Series({
        'horsepower': float(hp.group(1)) if hp else None,
        'engine_size_l': float(liter.group(1)) if liter else None,
        'cylinders': int(cylinders.group(1)) if cylinders else None,
        'fuel': fuel_type.group(1) if fuel_type else None
    })

# Wende die Funktion auf die `engine`-Spalte an
train_df[['horsepower', 'engine_size_l', 'cylinders', 'fuel']] = train_df['engine'].apply(extract_engine_features)

# Funktion, um nach Zahlen im Text zu suchen
def contains_number(text):
    return bool(re.search(r'\d', text))

# Anwenden der Funktion auf die Spalte 'clean_title' und das Ergebnis in der Spalte 'accident' speichern
train_df['accident'] = train_df['accident'].apply(contains_number)




# Entferne die ursprüngliche `engine`-Spalte
train_df = train_df.drop(columns=['engine'])

# Schaue dir das Resultat an
train_df.head(25)

,id,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,horsepower,engine_size_l,cylinders,fuel
0,0,MINI,Cooper S Base,2007,213000,Gasoline,A/T,Yellow,Gray,False,True,4200,172.0,1.6,4.0,Gasoline
1,1,Lincoln,LS V8,2002,143250,Gasoline,A/T,Silver,Beige,True,True,4999,252.0,3.9,8.0,Gasoline
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,A/T,Blue,Gray,False,True,13900,320.0,5.3,8.0,Flex Fuel
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,Transmission w/Dual Shift Mode,Black,Black,False,True,45000,420.0,5.0,8.0,Gasoline
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,7-Speed A/T,Black,Beige,False,True,97500,208.0,2.0,4.0,Gasoline
5,5,Audi,A6 2.0T Sport,2018,40950,Gasoline,A/T,White,–,False,True,29950,252.0,2.0,4.0,Gasoline
6,6,Audi,A8 L 3.0T,2016,62200,Gasoline,8-Speed A/T,Black,Black,False,True,28500,333.0,3.0,6.0,Gasoline
7,7,Chevrolet,Silverado 1500 1LZ,2016,102604,E85 Flex Fuel,A/T,White,Gray,False,True,12500,355.0,5.3,8.0,Flex Fuel
8,8,Ford,F-150 XLT,2020,38352,Gasoline,10-Speed Automatic,Snowflake White Pearl Metallic,Black,False,True,62890,NaN,2.7,NaN,NaN
9,9,BMW,M4 Base,2015,74850,Gasoline,Transmission w/Dual Shift Mode,Black,Blue,False,True,4000,425.0,3.0,6.0,Gasoline
10,10,Chevrolet,Camaro 1LT,2011,212500,Gasoline,A/T,Blue,Gray,True,True,7950,312.0,3.6,6.0,Gasoline
11,11,Tesla,Model S P100D,2015,81500,NaN,1-Speed A/T,Gray,White,False,True,19000,NaN,NaN,NaN,None
12,12,Cadillac,Escalade ESV Platinum,2017,93971,Gasoline,6-Speed A/T,White,Black,False,True,51500,420.0,6.2,8.0,Gasoline
13,13,Audi,S4 3.0T Premium Plus,2013,60000,Gasoline,A/T,Black,Black,True,True,12300,333.0,3.0,6.0,Gasoline
14,14,Land,Rover Range Rover P530 SE SWB,2023,20000,Gasoline,A/T,Black,Black,False,True,56900,523.0,4.4,8.0,Gasoline
15,15,Mercedes-Benz,AMG C 63 S,2017,41500,Gasoline,7-Speed A/T,White,Black,False,True,44900,503.0,4.0,8.0,Gasoline
16,16,GMC,Yukon Denali,2021,15000,Gasoline,10-Speed A/T,Green,Beige,False,True,68500,420.0,6.2,8.0,Gasoline
17,17,Land,Rover Defender SE,2021,46100,Hybrid,8-Speed A/T,Gray,Black,False,True,55000,395.0,3.0,6.0,Gasoline
18,18,Toyota,Tundra SR5,2011,153250,Gasoline,7-Speed A/T,Gray,Gray,True,True,9999,310.0,4.6,8.0,Gasoline
19,19,Mercedes-Benz,AMG C 63 Base,2019,16002,Gasoline,9-Speed A/T,White,Red,True,True,46900,469.0,4.0,8.0,Gasoline
20,20,Land,Rover Defender S,2023,7978,Gasoline,8-Speed Automatic,Santorini Black Metallic,Black,False,False,41998,NaN,5.2,NaN,NaN
21,21,Hyundai,Equus Signature,2016,87092,Gasoline,8-Speed A/T,Black,Black,False,True,16500,429.0,5.0,8.0,Gasoline
22,22,Ford,Mustang Premium,2012,154247,Gasoline,6-Speed A/T,Gray,Black,True,True,9900,210.0,3.7,6.0,Gasoline
23,23,Audi,A8 L 55,2018,51000,Hybrid,Transmission w/Dual Shift Mode,White,Beige,False,True,76000,335.0,3.0,6.0,Gasoline
24,24,Volvo,XC70 T6 Platinum,2014,100680,Gasoline,6-Speed A/T,Black,Beige,True,True,33687,316.0,2.0,4.0,Gasoline

In [9]:
train_df.drop(columns=["clean_title", "fuel_type"], inplace=True)

In [10]:
# Wandle nur die eigentlichen kategorialen Spalten korrekt in Kategorien um
categorical_columns = ['fuel']  # NUR die 'fuel'-Spalte ist hier eine Kategorie, keine numerischen Spalten
train_df.dropna(inplace=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148417 entries, 0 to 188532
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             148417 non-null  int64
 1   brand          148417 non-null  category
 2   model          148417 non-null  category
 3   model_year     148417 non-null  int64
 4   milage         148417 non-null  int64
 5   transmission   148417 non-null  category
 6   ext_col        148417 non-null  category
 7   int_col        148417 non-null  category
 8   accident       148417 non-null  category
 9   price          148417 non-null  int64
 10  horsepower     148417 non-null  float64
 11  engine_size_l  148417 non-null  float64
 12  cylinders      148417 non-null  float64
 13  fuel           148417 non-null  object
dtypes: category(6), float64(3), int64(4), object(1)
memory usage: 11.6+ MB

In [11]:
train_df.describe()

,id,model_year,milage,price,horsepower,engine_size_l,cylinders
count,148417.000000,148417.000000,148417.000000,1.484170e+05,148417.000000,148417.000000,148417.000000
mean,94190.406193,2014.797335,73742.716434,3.869325e+04,337.893570,3.826040,6.378589
std,54446.811061,5.611825,50468.361257,6.761629e+04,108.422334,1.351641,1.551471
min,0.000000,1974.000000,100.000000,2.000000e+03,70.000000,1.000000,3.000000
25%,46991.000000,2011.000000,33000.000000,1.500000e+04,260.000000,3.000000,6.000000
50%,94181.000000,2016.000000,67499.000000,2.735000e+04,325.000000,3.500000,6.000000
75%,141371.000000,2019.000000,105100.000000,4.599900e+04,404.000000,4.800000,8.000000
max,188532.000000,2024.000000,405000.000000,2.954083e+06,808.000000,8.400000,12.000000

### One-Hot-Encoding der Kategorien

In [12]:
df_encoded = pd.get_dummies(train_df, columns=['brand', 'model', 'transmission', 'ext_col', 'int_col', 'accident', 'fuel'])

In [13]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148417 entries, 0 to 188532
Columns: 2494 entries, id to fuel_Hybrid
dtypes: bool(2487), float64(3), int64(4)
memory usage: 361.1 MB

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_encoded[['model_year', 'milage', 'horsepower', 'engine_size_l', 'cylinders']])

# Das skalisierte Array in ein Pandas DataFrame umwandeln, um damit weiterzuarbeiten
df_scaled = pd.DataFrame(df_scaled, columns=['model_year', 'milage', 'horsepower', 'engine_size_l', 'cylinders'])

# Dann kannst du das wieder mit dem Rest des DataFrames (mit den One-Hot Encodings) kombinieren
df_final = pd.concat([df_encoded.drop(columns=['model_year', 'milage', 'horsepower', 'engine_size_l', 'cylinders']),
                      df_scaled], axis=1)

___
## **Actual Regression**

In [17]:
y = df_final['price']
X = df_final.drop(columns=['price'])

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # Regression: kein Aktivierungsfunktion für Regressionsprobleme

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

In [ ]:
test_loss = model.evaluate(X_test, y_test)